[submodule "services/api"]
	path = services/api
	url = ../RecoFinement-api.git
	branch = master
[submodule "services/ui"]
	path = services/ui
	url = ../RecoFinement-ui.git
	branch = master
[submodule "datas"]
	path = datas
	url = https://github.com/RomainCtl/RecoFinement-Datasets.git
	branch = master
[submodule "services/reco_engine"]
	path = services/reco_engine
	url = https://github.com/RomainCtl/RecoFinement-engine.git
	branch = master
